/.idea/
/vendor/
/vendor-bin/**/vendor/
/.php-cs-fixer.cache
/phpstan.neon
/ai.txt
/vendor-bin/ecs/composer.lock
/vendor-bin/phpstan/composer.lock
/vendor-bin/rector/composer.lock
/composer.lock
/vendor-bin/phpunit/composer.lock
/var/
/.phpunit.result.cache
/.env
